<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fortune Teller</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <%= yield %>
    <script
      src="http://code.jquery.com/jquery-3.1.0.min.js"
      integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
      crossorigin="anonymous">
    </script>
    <script src="/js/fortune.js"></script>
  </body>
</html>
