<h1>Fortune Teller!</h1>

<p>
  Your fortune is:
  <span id="fortune">
    <%= fortune.content %>
  </span>
</p>

<button id="random-fortune">
  New Fortune!
</button>

<div>
  <a href="/fortunes">Fortunes Index Page</a>
</div>
